

<ion-content>
  <form [formGroup]="loginform" (ngSubmit)="onSubmit()">
    <div class="input-group">
      <ion-img [src]="'assets/logo.png'"></ion-img>
    <ion-item>
      <ion-label position="floating">E-Mail <ion-text color="danger">*</ion-text></ion-label>
      <ion-input autocomplete name="correo" required formControlName="email" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password <ion-text color="danger">*</ion-text></ion-label>
      <ion-input autocomplete name="password" required formControlName="password" type="text"></ion-input>
    </ion-item>
    <ion-button block color="primary" type="submit" expand="block" [disabled]="loginform.invalid">
      Login
    </ion-button>
  </div>
  <ion-button [routerLink]="['/register']"  expand="block" fill="clear" color="light" shape="round">
    No tienes cuenta?, Registrate
  </ion-button>
    
  </form>
</ion-content>
